* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img1.jpg) no-repeat;
    background-size: cover;
} 
.content {
    height: 520px;
    width: 430px;
}

form {
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
        left: 50%;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(7, 2, 2, 0.1);
        box-shadow: 0 0 40px rgba(221, 112, 126, 0.6);
        padding: 50px 35px;
        
    
    }
form h1 {
    text-align: center;
    font-size: 32px;
    line-height: 42px;
    font-weight: 500;
    
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    box-shadow: 0 0 40px rgba(228, 98, 130, 0.6);
    
}
label {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: black;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}


button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 40px rgba(223, 115, 115, 0.6);
}
button:hover {
    background-color:rgb(243, 122, 132);
    color: white;
}